.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
/* .cards-cart{
    margin-right: 300px;
    
} */

.toaster{
    z-index: 1000;
}

.card-img{
    height: 400px;
    object-fit: contain;
    margin-left: 10px;
    margin: auto;
}

.card-cont{
    padding: 12px;
    border-radius: 14px 14px 14px 0px;
    display: block;
    margin: auto;
    background-color: rgb(244, 243, 243);
}




.all-cards{
    z-index: 1;
}