.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.cards-cart{
    margin-right: 300px;
}

.card-img{
    width: max-content;
    height: 400px;
    object-fit: contain;
}

.card-cont{
    border: 2px solid black;
    border-radius: 4px;
    display: block;
    margin: auto;
}

.price{
    margin-left: 10px;
}