.cont-fly-cart{
    height:90%;
    width: 270px;
    border: 1px solid rgb(3, 52, 3);
    background-color: rgb(29, 155, 63);
    border-radius: 3px;
    right: 1%;
    display: flex;
    position: fixed;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    word-wrap: break-word;
    /* margin-right: 6px; */
    bottom: 2.8%;
}



.cont-fly-cart::-webkit-scrollbar {
    width: 5px;
}

.cont-fly-cart::-webkit-scrollbar-thumb {
    background: rgb(229, 239, 30);
    border-radius: 12px;
}

.cont-fly-cart .price {
    color: rgb(144, 230, 144);
}

.cont-fly-cart img {
    width: 55px;
}