.nav-title{
    margin-left: 40px;
}

.nav-cont{
    position: sticky;
    position: fixed;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(2px) brightness(60%);
}

.log{
    cursor: pointer;
}